<%- include("partials/head") %>
<body>

  <%- include("partials/nav") %>
  
  <h1>Hi from Homepage</h1>
  <p>This is me trying to embed HTML into JS through EJS .</p>
  <address> 
    Block <%= 2 + 3 %>, 
    <%= "cinammon complex".toUpperCase() %>
  </address>
  <img src="/img/ai_circuit.jpeg"  />


  <script src="/js/script.js"></script>
</body>
</html>