<%- include("partials/head") %>

<body>
  <br>
  <%- include("partials/nav") %>
  <br>
  
  <h1><%= subreddit %> Cubicle is being viewed ...</h1>
  <p> Recall we're in the <%= era %> era. </p>
</body>
</html>