<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <h1>All comments</h1>
  <div>
    <ul>
      <% for (let comment of commentData) { %>
        <li>
          <%= comment.username %> replied with <%= comment.comments %>
          <a href="/comments/<%= comment.id %>"> Details</a>
          <a href="/comments/<%= comment.id %>/edit">Edit records</a>
        </li>
      <% } %>
    </ul>
  </div>
  
  <br><br>
  <a href="/comments/new">Update your list!</a>

</body>
</html>

