<nav>
    <a href="/">Home</a>
    <a href="/random">Random</a>
    <a href="/r/football/2026">Subreddit</a>
    <a href="/fruits">Fruits</a>
    <a href="/r/sports">Reddit Interface Mimic</a>
  </nav>